#alert
{
	
    height: 3em;
    width: 20em;
    border: 3px solid #1c1c1c;
    background: #ee05503b;
    padding: 0 15px;
    font-size: 19px;
    line-height: 40px;
    margin: 10px 0;
    color: white;
    border-radius: 12px;
    overflow: hidden;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: calibri;
}
body{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	flex-direction: column;
	background: #23242a;
}
.box{
	position: relative;
	width: 380px;
	height: 670px;
	background: #1c1c1c;
	border-radius:12px;
	overflow: hidden;
}
.box::before{
	content:'';
	z-index: 1;
	position: absolute;
	top: -50%;
	left: -50%;
	width: 380px;
	height: 670px;
	transform-origin: bottom right;
	background: linear-gradient(0deg,transparent,#ffff00,#ffff00);
	animation: animate 6s linear infinite;
}
.box::after{
	content:'';
	z-index: 1;
	position: absolute;
	top: -50%;
	left: -50%;
	width: 380px;
	height: 670px;
	transform-origin: bottom right;
	background: linear-gradient(0deg,transparent,#ffff00,#ffff00);
	animation: animate 6s linear infinite;
	animation-delay: -3s;
}
@keyframes animate
{
	0%
	{
		transform: rotate(0deg);
	}
	100%
	{
		transform: rotate(360deg);
	}
}
form{
	position: absolute;
	inset: 2px;
	background: #28292d;
	padding: 50px 40px;
	border-radius: 12px;
	z-index: 2;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
h2{
	color: #ffff00;
	font-weight: 500;
	text-align: center;
	letter-spacing: 0.1em;
}

.errorbox{
	position: absolute;
	bottom: 3.7em;
	right: 0em;
	color: white;
	font-size: 0.80em;
	text-align: right;
	letter-spacing: 0.05em;
	filter: drop-shadow(0 0 0.5px red)
			drop-shadow(0 0 1.5px red)
			drop-shadow(0 0 3px red);
}
.inputbox{
	position: relative;
	padding-top: 17px;
	width: 300px;
	margin-top: 10px;
}
::placeholder{
	color: #28292d;
	font-size: 1em;

}
.inputbox input{
	position: relative;
	width: 100%;
	padding: 20px 10px 10px;
	background: transparent;
	outline: none;
	border:none;
	color: #1c1c1c;
	font-size: 1em;
	letter-spacing: 0.05em;
	transition: 0.5s;
	z-index: 10;
}
.inputbox span{
	position: absolute;
	left: 0;
	padding: 20px 0px 10px;
	pointer-events: none;
	font-size: 1em;
	color: #8f8f8f;
	letter-spacing: 0.05em;
	transition: 0.5s;
	z-index: 11;
}
.inputbox input:valid ~ span,
.inputbox input:focus ~ span{
	color: #ffff00;
	transform: translateY(-34px);
	font-size: 0.80em;
}
#show{
	position: absolute;
	transform: translateX(22em);
	color: #28292d;
	z-index: 10;
	pointer-events: auto;
	cursor: pointer;
}
#show:hover{
	color: white;
	transition: -1s;
	transition-delay: 0.1s;
	text-shadow:  0 0 5px white,
					0 0 25px white,
					0 0 50px white;
}
.inputbox i{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background: #ffff00;
	border-radius: 4px;
	overflow: hidden;
	transition: 0.5s;
	pointer-events: none;
	z-index:9;
}
.inputbox input:valid ~ i,
.inputbox input:focus ~ i{
	height: 44px;
}
.inbox .strengthmeter{
	position: absolute;
	
	bottom: 0;
	left: 1%;
	width: 98%;
	height: 2.5px;
	background: #28292d;
	top: 4.3em;

}
.inbox .strengthmeter::before{
	content: '';
	position: absolute;
	width:0%;
	height:100%;
	transition: 0.5s;
}
.inbox.weak .strengthmeter::before{
	width: 10%;
	background: red;
	filter: drop-shadow(0 0 0.5px red)
			drop-shadow(0 0 1.5px red)
			drop-shadow(0 0 3px red);
}
.inbox.medium .strengthmeter::before{
	width: 66.66%;
	background: orange;
	filter: drop-shadow(0 0 0.5px orange)
			drop-shadow(0 0 1.5px orange)
			drop-shadow(0 0 3px orange);
}
.inbox.strong .strengthmeter::before{
	width: 100%;
	background: lime;
	filter: drop-shadow(0 0 0.5px lime)
			drop-shadow(0 0 1.5px lime)
			drop-shadow(0 0 3px lime);
}
#pwd{
	padding-top: 15px;
}

.inbox .errorbox3::after{
	position: absolute;
	color: white;
	font-size: 0.80em;
	margin-top: 0.9em;
	letter-spacing: 0.05em;
}
.inbox.weak .errorbox3::after{
	content: 'Your Password is weak';
	left: 16.2em;
	color: white;
	filter: drop-shadow(0 0 0.5px red)
			drop-shadow(0 0 1.5px red)
			drop-shadow(0 0 3px red);
}
.inbox.medium .errorbox3::after{
	content: 'Becomes Medium';
	left: 18.4em;
	color: white;
	filter: drop-shadow(0 0 0.5px orange)
			drop-shadow(0 0 1.5px orange)
			drop-shadow(0 0 3px orange);
}
.inbox.strong .errorbox3::after{
	content: 'Strong as Steel';
	left: 19.6em;
	color: white;
	filter: drop-shadow(0 0 0.5px lime)
			drop-shadow(0 0 1.5px lime)
			drop-shadow(0 0 3px lime);
}
.errorbox5{
	position: absolute;
	color: white;
	right: 3em;
	font-size: 0.80em;
	letter-spacing: 0.05em;
	filter: drop-shadow(0 0 0.5px red)
			drop-shadow(0 0 1.5px red)
			drop-shadow(0 0 3px red);
}
.rbutton{
	color: #8f8f8f;
	font-weight: 500;
	font-size: 1em;
	letter-spacing: 0.05em;
	margin-top: 21px;
}
input[type="radio"]{
	display:none;
}
label{
	cursor: pointer;
}
label span{
	display: inline-flex;
	margin-left:16px;
	margin-top: 10px;
	align-items: center;
	padding: 5px 15px;
	border: 0.5px solid #ffff00;
	border-radius: 50px;
	transition: .25s ease;
}
label span:hover{
	background-color: #ffff00;
	color: white;
	box-shadow: 0 0 5px #ffff00,
				0 0 10px #ffff00,
				0 0 15px #ffff00;
	transition: 0.2s ease;
}
input[type="radio"]:checked+span{
	background-color: #ffff00;
	font-weight: 600;
	color: black;
}

.select-box {
  margin-top: 21px;
  display: flex;
  width: 100%;
  flex-direction: column;
  font-size: 1em;
  font-weight: 500;
}


.select-box .options-container {
  background: #2f3640;
  color: #8f8f8f;
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  border-radius: 8px;

  order: 1;
  overflow: hidden;
}

.selected {
  background: #2f3640;
  border-radius: 8px;
  margin-bottom: 8px;
  color: #8f8f8f;
  position: relative;

  order: 0;
}
.selected::after {
  content: "";
  background: url("img/arrow-down.svg");
  background-size: contain;
  background-repeat: no-repeat;

  position: absolute;
  height: 100%;
  width: 32px;
  right: 10px;
  top: 5px;

  transition: all 0.4s;
}

.select-box .options-container.active {
  max-height: 130px;
  opacity: 1;
  overflow-y: scroll;
  z-index: 6;
}

.select-box .options-container.active + .selected::after {
  transform: rotateX(180deg);
  top: -6px;
}

.select-box .options-container::-webkit-scrollbar {
  width: 8px;
  background: #0d141f;
  border-radius: 0 8px 8px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
  background: #525861;
  border-radius: 0 8px 8px 0;

}
.select-box .options-container::-webkit-scrollbar-thumb:hover {
  background: #ffff00;
  border-radius: 0 8px 8px 0;
}

.select-box .option,
.selected {
  padding: 12px 24px;
  cursor: pointer;
}

.select-box .option:hover {
  background: #414b57;
  color: yellow;
  text-shadow: 0 0 5px #ffff00,
				0 0 10px #ffff00,
				0 0 15px #ffff00;

}

.select-box label {
  padding: 0.64em;
  padding-right: 14em;
  cursor: pointer;
}


.down{
	position: absolute;
	margin-top: 30em;
	padding :30px 87px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
a{
	margin: 10px 0;
	font-size: 0.80em;
	color: #8f8f8f;
	text-decoration:beige;
}
a:hover
{
	color: white;
	text-shadow: 0 0 5px #01FF99,
				0 0 10px #01FF99,
				0 0 15px #01FF99;

}
input[type="submit"]{
	border: none;
	outline: none;
	padding: 11px 25px;
	background: #ffff00;
	cursor: pointer;
	border-radius: 4px;
	font-weight: 600;
	width:120px;
}
input[type="submit"]:hover{
	background-color: #ffff00;
	color: #fff;
	border-radius: 6px;
	box-shadow: 0 0 5px #ffff00,
				0 0 25px #ffff00,
				0 0 50px #ffff00;
}
